body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 24px;
}

.header img{
    width: 180px;    
}

.left-header{
    display: flex;
    align-items: center;
}

.left-header input{
    outline: none;
    font-size: 24px;
    background-color: rgba(255,204,3,255);
    border-color: rgba(60,89,165,255);
    border: solid ;
    color: rgba(60,89,165,255);
    margin-right: 12px;
    text-align: center;
}

.left-header button{
    font-size: 24px;
    background-color: rgba(255,204,3,255);
    border-color: rgba(60,89,165,255);
    border: solid ;
    color: rgba(60,89,165,255);
}

.icon {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin:auto;
    padding: 12px;
    margin-bottom: 12px;
}

.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}

.bg{
    height: 16px;
    color: #f7f7f7;
    padding-left: 6px;
    max-width: 105%;
}

.bg1{
    background-color: red;    
}

.bg2{
    background-color: green;
}

.bg3{
    background-color: blue;
}

.bg4{
    background-color: orange;
}

.bg5{
    background-color: brown;
}

.bg6{
    background-color: goldenrod;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:24px;
}

.pokedex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 24px;
    min-height: 40vh;
    width: 260px;
    color: #f7f7f7;
    margin: 12px;
}

.id{
    font-size: 24px;
}

.detail-card-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f7f7f7;
    width: 90%;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 24px;
}

.detail-card-child img{
    width: 60%;
}

.detail-card-pokemon{
display: flex;
align-items: center;
justify-content: center;
}

.detail-card-pokemon img{
    width: 60%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f7f7;
    width: 90%;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 24px;
}

.card-img{
    display: flex;
    justify-content: center;
}

.card-img img{
    width: 60%;
}

.hover:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.type-container{
    display: flex;
    justify-content: center;
}
.next-btn{
    display: flex;
    justify-content: center;
    
}

.next-btn button{
    background-color: rgba(255,204,3,255);
    color: rgba(60,89,165,255);
    border-radius: 100%;
    height: 150px;
    width: 150px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(60,89,165,255);;
    border-style: none;
    margin-bottom: 24px;
}

.next-btn button:hover{
    cursor: pointer;
}

.d-none{
    display: none !important;
}

.baseStatsContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 90%;
}

.bs{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    color: black;
}

.graph{
    width:70%;
}

.details{
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

.detail-card{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    color: #f7f7f7;
    font-weight: bold;
    border-radius: 24px;
}

.detail-card button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.close-btn{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-top: 24px;
    margin-left: -80%;
    
}

.close-btn button{
    background-color: #f7f7f7;
    border-radius: 100%;
    height: 36px;
    width: 36px;
    border-style: none;
}

.details-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-btn img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.left-btn img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.ability{
display: flex;
padding: 12px;
border-radius: 24px;
margin-bottom: 12px;
margin-inline: 12px;
}

.arrow img{
    height: 50px;
}

@media(max-width: 720px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-header{
        margin-top: 24px;
    }
}

@media(max-width: 600px){
    .ability{
        padding: 6px;
        margin-inline: 6px;
    }
}

@media(max-width:490px){
    .left-header{
        flex-direction: column;
    }
    
    .left-header input{
        margin-bottom: 12px;
    }
}

@media(max-width:390px){
    .baseStatsContainer{
        width: 95%;
    }

    .arrow img{
        height: 40px;
    }
}

@media(max-height:685px){
    .detail-card-pokemon img{
        width: 30%;
    }
}